{
  "extends": ["next", "prettier"],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off",
    "@next/next/no-img-element": "off"
  },
  "parserOptions": {
    "project": "tsconfig.json"
  }
}
