name: Generate changelog on new release

on: repository_dispatch

jobs:
  update_changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Get Yarn cache path
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Checkout
        uses: actions/checkout@master
        with:
          ref: main

      - name: Enable node
        uses: actions/setup-node@master
        with:
          node-version: 14.x

      - name: Load Yarn cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Setup Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: 'Generate changelog'
        run: yarn changelog:gen

      - name: Commit changelog
        run: |
          git add pages/changelog/index.mdx
          git diff --staged --quiet || git commit -m "docs(changelog): $GITHUB_SHA"

      - name: Bump Chakra UI version
        run: |
          yarn upgrade @chakra-ui/react --latest
          yarn upgrade @chakra-ui/cli --latest
          yarn upgrade @chakra-ui/props-docs --latest
          yarn upgrade @chakra-ui/skip-nav --latest
          yarn upgrade @chakra-ui/theme-tools --latest
          yarn upgrade @chakra-ui/utils --latest

      - name: Commit package.json
        run: |
          git add pages/changelog/index.mdx
          git diff --staged --quiet || git commit -m "chore(bump-version): $GITHUB_SHA"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          delete-branch: true
          title: 'docs: update changelog and bump chakra version'
          branch: docs/changelog-updates
